.todo__item {
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
}

.todo__list:last-child {
  margin-bottom: 0;
}

.todo__item.line-through {
  text-decoration: line-through;
}

.todo__item.none {
  text-decoration: none;
}

.todo__list {
  padding: 20px 0 0;
  border-top: 1px dotted #ad91ed;
  border-bottom: 1px dotted #ad91ed;
  margin: 20px 0;
}

@media (max-width: 800px) {
  .todo__list {
    margin: 20px 5%;
  }
}

.todo__form {
  width: 50%;
}

@media (max-width: 800px) {
  .todo__form {
    margin: 0 5%;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .todo__form {
    width: 90%;
  }
}

.text__input {
  height: 30px;
  width: 340px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-left: 7px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 500px) {
  .text__input {
    width: 97.3%;
  }
}

.todo__btn {
  margin: 0 2.5% 20px 0;
  height: 50px;
  width: 170px;
  background: #6936de;
  color: white;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  border: 0;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.todo__btn:hover {
  border: 1px solid #ad91ed;
  color: #ad91ed;
  background: white;
}

@media (max-width: 500px) {
  .todo__btn {
    width: 48.7%;
    margin: 0;
  }

  .todo__btn:last-child {
    margin-left: 2.5%;
  }
}

.update__alert {
  margin: 11px 0 0 2%;
  font-size: 1.4rem;
  color: #ad91ed;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 800px) {
  .update__alert {
    display: none;
  }
}
